<div class="d-flex" style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  ">
  <!-- name, image, button -->

  <% data.body.artists.items.forEach(artist => { %>
  <div class="card mb-2" style="width: 18rem">
    <% if(artist.images.length){ %>
    <img src="<%- artist.images[1].url %>" />
    <% } else{ %>
    <img src="https://cdn.vectorstock.com/i/preview-1x/66/14/default-avatar-photo-placeholder-profile-picture-vector-21806614.jpg" />
    <% } %>
    <div class="card-body">
      <p class="card-title"><%- artist.name %></p>
      <a href="/albums/<%- artist.id %>" class="btn btn-primary">View Albums</a>
    </div>
  </div>
  <% }) %>
</div>